@font-face {
  font-family: Barlow;
  src: url("Barlow-Bold.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  src: url("BarlowCondensed-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  src: url("BarlowCondensed-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  src: url("BarlowCondensed-Bold.otf") format("otf");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: Barlow, sans-serif;
  background-color: #fafbfc;
  color: #49585f;
}

.index-main {
  padding: 2em 15em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}

.main-outer {
  background-color: #ffffff;
  height: auto;
  box-shadow: 5px 10px 72px rgba(45, 43, 126, 0.1);
  width: max-content;
}

.upload {
  padding: 3em 2em 20em 1em;
  background-color: #ffffff;
  height: 65vh;
}

.main-inner {
  height: inherit;
  background-color: #fafbfc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  padding: 0.8em 2em;
  border-radius: 4px;
  border: none;
}

.upload-btn {
  background-color: #f07f1f;
  color: #fce0c8;
  cursor: pointer;
}

.upload-text {
  font-size: 10px;
  color: rgb(194, 195, 200);
}

.main-outer__header {
  padding: 0.1em 2em 1em 2em;
  display: flex;
  justify-content: space-between;
}

.main-outer__header > div {
  display: flex;
  align-items: center;
}

.nametable {
  color: #616161;
  display: table;
  margin: 0 2em 2em 2em;
  /* height: ; */
  /* margin: 1em; */
  line-height: 1.6;
  font-size: 11px;
  /* border: 1px solid #f5f5f5; */
}

.nametable .row {
  display: table-row;
}

.nametable .row.header {
  color: #000;
  font-weight: 550;
  background-color: #f5f5f5;
}

.nametable .cell {
  display: table-cell;
  padding: 1em 2em;
  border-bottom: 1px solid #f5f5f5;
  /* padding: 6px 12px; */
}

.nametable .row:last-child .cell {
  border-bottom: none;
}

@media screen and (max-width: 599px) {
  .nametable {
    display: block;
  }
  .nametable .row {
    display: block;
    padding: 8px 0;
  }
  .nametable .cell {
    display: block;
    padding: 2px 12px;
  }
}
